body{
    font-family: 'Titillium Web', sans-serif;
    background-color:floralwhite;
}
h1{
    background-color:brown;
    text-align:center;
    color: white;
}
.container{
    width: 1200px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.box3{
    width: 45%;
    margin: auto;
}
.box3 .box3_1{
    width: 45%;
    margin: auto;
}
.box3_1 img{
    width: 100%;
}
.box1{
    width: 30%;
    margin: auto;
}
.box2{
    width: 100%;
    margin: auto;
}
.box2 .box2_1{
    width: 50%;
    margin: auto;
}
.box2_1 img{
    width: 80%;
}
.box4{
    flex:20%;
    width: 100%;
    margin: auto;
}
.box4 .box4_1{
    width: 50%;
    margin: auto;
}
.box4_1 img{
    width: 50%;
}
